/* Login.css */

body {
    margin: 0;
    background-image: url('assets/bg1.jpg'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: white;
    width: 400px; /* Set the desired width */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: black;
    text-align: center;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 10px;
  }
  
  .login-button {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007bff; /* Replace with your desired color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Add any additional styling you want */
  